{% extends "base.html" %}

{% block content %}

<div class = "row">
  <h1> Pets </h1>

  {% for pet in pets %}
  <div>

    <div>


      <img src="{{ pet.photo_url }}" alt="picture of {{ pet.name }}">

    </div>

    <!-- name of pet and if available -->
    <div><span class = 'text-success'>{{ pet.name }}</span>
      is
      {% if pet.available %}

      is available!

      {% else %}

      not available :c

      {% endif %}

    </div>

  </div>



  {% endfor %}

  <!-- this is for adding a pet -->
  <a href="#" class = 'btn btn-primary'>Add a Pet</a>

</div>
{% endblock %}